.app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}

.data-viewport {
  flex: 4;
  overflow: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem;
  gap: 0.5rem;
}

.data-viewport-column {
  flex: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.data-viewport-column.second > :first-child {
  flex: 1.3;
}

.data-viewport-column-container {
  flex: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.form-viewport {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.form-options {
  flex: 4;
  display: flex;
  flex-direction: column;
}
