body {
  margin: 0;
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-bg);
}

button,
input,
select {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
}

p {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  font-size: 1rem;
}

:root {
  --page-bg: #f8f9fa;

  --white: #ffffff;
  --off-white: #f8f9fa;
  --grey-light: #dee2e6;
  --grey-dark: #343a40;

  --item-hover: #c7cbcf;

  --text-primary: #212529;
  --color-text-secondary: #6c757d;

  --color-accent-blue: #cce4f6;
  --color-accent-green: #c8e6cb;
  --color-accent-red: #f8d7da;
  --color-accent-orange: #fdeac3;

  --disabled-bg: #e9ecef;
  --disabled-color: #6c757d;
  --active-bg: #b6babd;
  --color-active: #40464b;
}
